
/* Common Css Start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;;

}
.container{
    width: 1170px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
/* Common Css End */

/* nav start */

nav {
    background-color: #02918c;
}

nav ul {
    list-style-type: none;
}
nav ul li a {
    display: inline-block;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 26px 25.5px;
    font-weight: 800;
    transition: 0.6s;
}
nav ul li a:hover {
    color: #cfc91d;
}
/* nav end */

/* banner section start */
.banner-1{
    background-image: url(./imges/bagroundpic.jpg);
    background-size: cover;
    color: #fff;
    padding: 210px 0;
}
.banner-1 h3{
    font-size: 30px;
    font-weight: 400;
    line-height: 25px;

}
.banner-1 h1{
    font-size: 68px;
    line-height: 75px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 30px;
}
.banner-1 p{
    font-size: 18px;
    line-height: 33px;
}
.banner-1 a{
    display: block;
    font-weight: 800;
    font-size: 14px;
    background-color: #cfc91d;
    line-height: 30px;
    text-decoration: none;
    color: black;
    width: fit-content;
    padding: 11px 43px;
    text-transform: uppercase;
    margin:  0 auto;
}
.banner-1 img{
    margin: 52px 0;
}

/* banner section end */

/* about section start */
#serves-about .ab-info h2{
    font-size: 46px;
    font-weight: 800;
    color: #02918c;
}
#serves-about .ab-info p{
    font-size: 16px;
    line-height: 41px;
    color: #7e8287;
}
#serves-about .ab-info p b{
    font-weight: 800;
}
.ab-items-parent{
    display: flex;
    justify-content: space-between;
}
.ad-it{
    padding: 37px 65px;
    margin-top: 80px;
    text-align: center;
    border-right: 1px solid #d9dbdb;
    color: #7e8287;
    margin-bottom: 100px;
}
.ad-it:last-child{
    border-right: 0;
}
.srv-text{
    background-image: url(./imges/laptopggs21.png);
    padding: 200px 80px;
    width: 100%;
    background-size: cover;
}
.srv-text h2{
    color: #02918c;
    text-transform: uppercase;
    font-size: 46px;
}
.srv-text p{
    font-size: 16px;
    line-height: 41px;
    color: #7e8287;
}



/* abut section end */